footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px #CCCCCC;
    position: fixed;
    bottom: 0;
}

.common-style footer p {
    text-align: center;
    padding: 20px 0px;
}